.about__wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #fff;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.about__inner {
  margin: 0 15px;
  h2 {
    margin-top: -51px;
    margin-bottom: 36px;
    color: #fff;
  }

  p {
    display: flex;
    span {
      color: #6ea3ab;
    }
    gap: 5px;
  }

  hr {
    margin: 20px 0px;
    border: none;
    border-top: 0.3px solid #6ea3ab;
  }
}

.modalEdu__inner {
  margin-top: -320px;
  margin-left: 30px;

  svg {
    background-color: #fff;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.modalWrk__inner {
  margin-top: -243px;
  margin-left: 30px;

  svg {
    background-color: #fff;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.modalEdu__inner, 
.modalWrk__inner {
  visibility: hidden;

  @media (max-width: 930px) {
    visibility: visible;
  }
}
