.projects__wrapper {
  background-color: #fff;
  width: 915px;
  margin-top: 12px;

  @media (max-width: 1377px) {
    margin-top: 100px;
    width: 915px;
  }

  @media (max-width: 930px) {
    margin-top: -40px;
    width: 450px;
  }
}

.projects__inner {
  margin: 0 15px;
}

.project__breakLine {
  visibility: collapse;
  
  @media (max-width: 930px) {
    visibility: visible;
    margin: 20px 0px;
    border: none;
    border-top: 0.3px solid #6ea3ab;
  }
}

@media (max-width: 450px) {
  .projects__wrapper {
    width: auto;
  }
}
