.app {
  background-color: #c0c6ce;
  height: auto;
}

.app__wrapper {
  margin: 0 auto;
  padding: 25px 0;
  width: 1395px;
  justify-content: space-between;
}

.wrapper__top,
.top__right,
.wrapper__bottom {
  display: flex;
  gap: 15px;
}

@media (max-width: 1377px) {
  .app__wrapper {
    width: 920px;
  }

  .top__right {
    flex-direction: column;
    gap: 15px;
  }

  .wrapper__bottom {
    flex-direction: column;
    margin: 0;
    margin-top: -400px;
  }
}

@media (max-width: 930px) {
  .app__wrapper {
    width: 450px;
  }
  .wrapper__bottom {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .app__wrapper {
    width: 100%;
    padding: 0;
  }
}
