.app {
  background-color: #C0C6CE;
}

.app__wrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  width: 1390px;
  justify-content: space-between;
}

.wrapper__left {
  display: flex;
  flex-direction: column;
}

.wrapper__right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 925px;
}

.right__top {
  display: flex;
  justify-content: space-between;
}
